[submodule "scripts/--force"]
	path = scripts/--force
	url = https://github.com/CVUA-RRW/taxidTools
[submodule "taxidTools"]
	path = taxidTools
	url = https://github.com/CVUA-RRW/taxidTools
[submodule "scripts/taxidTools"]
	path = scripts/taxidTools
	url = https://github.com/CVUA-RRW/taxidTools
